{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Log Out
{% endblock %}

{% block content %}
<script>
    function cancelLogOut() {
        history.back();
    }
</script>

<div class="w-100 d-flex flex-column justify-content-start align-items-center">

    <div class="w-100 d-block m-auto p-4 d-inline-flex flex-column justify-content-start border border-2"
        style="max-width: 30em;">
        <div class="container-sm text-center">
            <h1>Log Out</h1>
            <p>Are you sure you want to log out?</p>
            <form method="post" action="{% url 'account_logout' %}">{% csrf_token %}
                {{ form|crispy }}

                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" style="width: 10em;" type="reset"
                        onclick="cancelLogOut()">Cancel</button>
                    <button class="btn btn-danger" style="width: 10em;" type="submit">Log Out</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock content %}