{% extends "_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans "Password Reset" %}
{% endblock %}

{% block content %}
<div class="w-100 d-flex flex-column justify-content-start">
    <div class="w-100 mt-5 d-block mx-auto p-4 d-inline-flex flex-column justify-content-start border border-2"
        style="max-width: 35em;">

        <h1 class="text-center">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            {% include "account/snippets/already_logged_in.html" %}
        </div>
        {% endif %}

        <p>{% blocktrans %}
            Forgotten your password? Enter your e-mail address below, and we'll send you an E-mail allowing
            you to reset it.
            {% endblocktrans %}
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-end">
                <input class="btn btn-success fw-bold" type="submit" value="{% trans 'Reset My Password' %}" />
            </div>
        </form>

        <p class="m-0 p-0 pt-2">{% blocktrans %}
            Please contact us if you have any trouble resetting your password.
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}