{% extends "_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="w-100 d-flex flex-column justify-content-start">

    <div class="w-100 mt-5 d-block mx-auto p-4 d-inline-flex flex-column justify-content-start border border-2"
        style="max-width: 35em;">
        <h1>
            {% if token_fail %}
            {% trans "Bad Token" %}
            {% else %}
            {% trans "Change Password" %}
            {% endif %}
        </h1>

        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}
            The password reset link was invalid, possibly because it has already been used.
            {% endblocktrans %}
        </p>
        <div class="text-center">
            Please request a <a class="btn btn-primary" href="{{ passwd_reset_url }}">new password reset</a>.
        </div>
        {% else %}
        <p>{% blocktrans %}
            Hello, you can change you password with the form below:
            {% endblocktrans %}
        </p>
        <form method="POST" action="{{ action_url }}">{% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-end">
                <input class="btn btn-success fw-bold" type="submit" name="action"
                    value="{% trans 'Change Password' %}" />
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}