{% extends "_base.html" %}
{% load random_rgba_color %}

{% block title %}
Books
{% endblock title %}

{% block content %}
<div class="mx-auto d-flex flex-column w-100 align-items-center justify-content-start" style="max-width: 80em;">

    <div class="colorin border-bottom border-2 my-2 py-2">
        <h3 class="fs-1 ps-2">Recent Books Reviews</h3>
    </div>
    <div class="d-flex flex-column flex-wrap w-100 align-items-center" style="max-width: 60em;" id="book-container">
        {% for book in book_list %}
        <div id="book-cover" class="w-100 p-0 book-item book-cover" style="max-width: 10em;">
            <a class="w-100 p-0" href="{{ book.get_absolute_url }}" title="{{ book.title }}"
                aria-label="book {{ book.title }}">
                {% if book.cover %}
                <img class="d-block mx-auto img-fluid img-thumbnail" src="{{ book.cover.url }}" alt="{{ book.title }}">
                {% else %}
                <article class="border w-100 d-flex justify-content-center align-items-center fs-5 fw-bold text-center "
                        style="min-height: 10em; background-color: {% random_rgba_color 0.5 %} ;">
                        {{ book.title|truncatechars:35 }}
                </article>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center mt-auto pt-4 mb-5">
        {% include 'components/pagination_block.html' %}
    </div>
</div>

<script>
    window.addEventListener("load", () => {
        changeSizeContainerBooks();
    })
    window.addEventListener("resize", changeSizeContainerBooks)
    function changeSizeContainerBooks(e) {
        /* Make responsive books list container */
        let containerBooks = document.getElementById("book-container");
        let Books = document.getElementsByClassName("book-item")
        const containerWidth = containerBooks.offsetWidth

        let columns_available = Math.floor(containerWidth / 160);
        let num_items_per_column = Math.ceil(Books.length / columns_available)

        let maxHeight = 0
        let diff = 0
        let actualHeight = 0
        for(let i=0; i<columns_available; i++){
            actualHeight = 0
            for (let i = diff; i < num_items_per_column+diff; i++) {
                try{
                    actualHeight = actualHeight + Books[i].offsetHeight
                }catch{}
            }
            if(maxHeight < actualHeight){
                maxHeight = actualHeight
            }
            diff += num_items_per_column;
        }
        containerBooks.style.height = maxHeight + "px"
        containerBooks.classList.remove("book-animation")
        containerBooks.classList.add("book-animation")
    }
</script>
{% endblock content %}