body {
    min-height: 100vh;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

.bookstore-landscape {
    width: 100%;
    min-height: 20em;
    background-image: url('/static/images/bookstore-landscape.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.neumorphism-border {
    border-radius: 9px;
    background: #f2f2f2;
    box-shadow: 10px 10px 20px #cbcbcb,
        -10px -10px 20px #ffffff;
}

.link-hover {
    opacity: 0.5;
    transition: .25s ease;
}

.link-hover img {
    border: none;
    background-color: transparent;
}

.link-hover:hover {
    opacity: 1;
}

.link-hover:hover img {
    background-color: #212529;
}