{% load static %}

<ul class="m-0 p-0 w-100 d-flex">
    <li class="ms-1 list-group-item link-hover" title="Blog and portfolio rvjonh">
        <a href="https://rvjonh-portfolio.netlify.app/" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/blog.svg' %}"
                alt="Blog and portfolio rvjonh" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="email jonhvelasco3@gmail.com">
        <a href="mailto:jonhvelasco3@gmail.com" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/email.svg' %}"
                alt="email jonhvelasco3@gmail.com" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="github rvjonh">
        <a href="https://github.com/Rvjonh" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/github.svg' %}"
                alt="github rvjonh" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="linkedin rvjonh">
        <a href="https://www.linkedin.com/in/jonh-gomez-067087250/" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/linkedin.svg' %}"
                alt="linkedin rvjonh" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="twitter rvjonh">
        <a href="https://twitter.com/Rvjonh" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/twitter.svg' %}"
                alt="twitter rvjonh" />
        </a>
    </li>
</ul>