<div class="mt-auto container d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm d-flex justify-content-center align-items-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    First Page
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    Previous
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">First Page</a></li>
            <li class="page-item disabled"><a class="page-link">Previous</a>
            </li>
            {% endif %}

            {% for num_page in page_obj.paginator.page_range %}
            {% if num_page == page_obj.number %}
            <li class="page-item active"><a class="page-link">{{ num_page }}</a></li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num_page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    {{ num_page}}
                </a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    Next
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    Last Page
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            <li class="page-item disabled"><a class="page-link">Last Page</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>